$primary: #16d3fe;
$secondary: #171e41;
$primary_light: #e5faff;

$font_light: #9a9dae;
$font_dark: #9a9a9a;



//media querries

$phone: 599px;
$tablet_port: 600px;
$tablet_land: 900px;
$desktop: 1200px;
$desktop_plus: 1420px;
$big_desktop: 1800px;


@mixin main_shadow {
    -webkit-box-shadow: 0 0.20rem 1rem rgba(0, 0, 0, .15);
            box-shadow: 0 0.20rem 1rem rgba(0, 0, 0, .15);
}


@mixin mediaq($media) {
    @if $media == phone {
      @media only screen and (max-width: $phone) { @content; }
    }
    @else if $media == tab-port {
      @media only screen and (min-width: $tablet_port) and (max-width: $tablet-land - 1) { @content; }
    }
    @else if $media == tab-land {
        @media only screen and (min-width: $tablet_land) and (max-width: $desktop - 1) { @content; }
    }
    @else if $media == desktop-plus {
        @media only screen and (min-width: $desktop) and (max-width: $desktop_plus - 1) { @content; }
    }
    @else if $media == wide_screen {
      @media only screen and (min-width: $big_desktop) { @content; }
    }
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px;

    @include mediaq(phone) {
        font-size: 62.5%;
      }
    @include mediaq(tab-port) {
        font-size: 55%;
    }
    @include mediaq(tab-land) {
        font-size: 57.5%;
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    line-height: 1.6;

}

.container {
    max-width: 117.2rem;
    margin: 0 auto;
    @include mediaq(phone) {
         width: 100%;   
    }
    @include mediaq(tab-port) {
        width: 100%;
    }
    @include mediaq(tab-land) {
      width: 100%;
    }
    }

.bttn-main:link,
.bttn-main:visited {
    display: inline-block;
    padding: 1.1rem 2.1rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    border-radius: 26px;
    -webkit-box-shadow: 0 0.20rem 1rem rgba(0, 0, 0, .15);
            box-shadow: 0 0.20rem 1rem rgba(0, 0, 0, .15);
    background-color: $primary;
    -webkit-transition: all 1s;
    transition: all 1s;

    @include mediaq(phone) {
        width: 50%;
        margin-top: 2.5rem;
        margin-bottom: 3rem;
    }
}


